@model IEnumerable<AnalizeHostingCompanies.Models.DbEntities.PoolIpAddress>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IpNetwork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountIpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mask)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IpNetwork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountIpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mask)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
