@model AnalizeHostingCompanies.Models.DbEntities.InternetProvider

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InternetProvider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpeedConnection.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpeedConnection.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traffic.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traffic.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoolIpAddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoolIpAddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxTraffic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxTraffic)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
