@model AnalizeHostingCompanies.Models.DbEntities.VirtualServer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VirtualServer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cms.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cms.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountCpuCore.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountCpuCore.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HddVirtual.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HddVirtual.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress.NameIpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress.NameIpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferPeriod.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferPeriod.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceVirtual.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceVirtual.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RamVirtual.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RamVirtual.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpeedConnection.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpeedConnection.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traffic.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traffic.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameTypeServer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameTypeServer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxCountRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxCountRequest)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
